{% extends "shared/layout.twig" %}
{% block title %} 
 {% if metadata.title %}
     {{metadata.title}}
 {% else %}
     {{page.title}}
 {% endif %}

{% endblock %}
{% block head %}
    {{ parent() }}  
    <meta name="keywords" content="{{metadata.keywords}}">
    <meta name="description" content="{{metadata.description}}">

{% endblock %}
{% block content %}


{% if carousel is not empty %}
<div class="banner banner-product wow fadeInUp">
	<svg width="100%" height="100%" viewbox="0 0 1920 447">
		<g id="box" transform="matrix(1,0,0,1,0,-108)">
			<clipPath id="_clip1">
				<path d="M0,108L1920,108L1920,553C1920,553 1695.13,480.459 1405,478C908.126,473.787 1196.2,564.729 0,553C0,570.278 0,108 0,108Z"/>
			</clipPath>
			<g clip-path="url(#_clip1)">
				<g id="_001image" serif:id="001image" transform="matrix(1,0,0,1,0,108)">
					<use xlink:href="#_Image2" x="0" y="0" width="1920px" height="447px"/>
				</g>
			</g>
		</g>
		<defs>
			<image id="_Image2" width="1920px" height="447px" xlink:href="{{carousel.image_url}}"/>
		</defs>
	</svg>
</div>
{% endif %}

<div class="page page-development pb-media-7">
      <section class="s1">
        <div class="container">
          <div class="page_nav pt-media-6 pb-media-3">
            {{ include('shared/_subMenus.twig') }}
          </div>
        </div>
      </section>
      <section class="s2 container pt-media-5">
        {{page.content|raw}}        
      </section>
    </div>



  
{% endblock %}

{% block footer %}
    
{% endblock %}